---
sitemap: false
---

/*
 *
 *  HPSTR
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

// Partials
@import "variables";
@import "mixins";
@import "reset";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
@import "site";
@import "typography";
@import "syntax";
// @import "coderay";
@import "grid";
@import "elements";
@import "animations";
@import "dl-menu";
@import "page";

// Custom css
code a {
  color: white;
}
#mmb_pswitch,
    #mmb_pswitch_gfx,
    .mmb_coin,
    .mmb_block {
        user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        -webkit-user-select: none;
    }
    #mmb_pswitch {
        display: none;
    }
    #mmb_pswitch_gfx {
        vertical-align: middle;
        cursor: pointer;
        display: inline-block;
        width: 16px;
        height: 18px;
    }
    #mmb_pswitch + #mmb_pswitch_gfx, input[type=checkbox] + .psw {
        background: url('http://i.imgur.com/40nmlmK.png') no-repeat;
        background-position: -16px -14px;
    }
    #mmb_pswitch:checked + #mmb_pswitch_gfx, input[type=checkbox]:checked + .psw {
        background: url('http://i.imgur.com/40nmlmK.png') no-repeat;
        background-position: -16px 4px;
    }
    .mmb_block,
    .mmb_coin {
        vertical-align: middle;
        display: inline-block;
        width: 16px;
        height: 16px;
    }
    #mmb_pswitch ~ .mmb_block,
    #mmb_pswitch:checked ~ .mmb_coin {
        background: url('http://i.imgur.com/40nmlmK.png') no-repeat;
        background-position: 0px 0px;
    }
    #mmb_pswitch:checked ~ .mmb_block,
    #mmb_pswitch ~ .mmb_coin {
        background: url('http://i.imgur.com/40nmlmK.png') no-repeat;
        background-position: 0px -16px;
    }
